<div class="box-body-wrap">
  <div class="container">
    <div class="inner-box-body-wrap">

      <div class="logo-wrap text-center">
        <img src="./../../../assets/images/logo.png" alt="Meeting Planner" />
      </div>

      <form id="loginform" class="form-horizontal" role="form">

        <div class="input-group mb-3">

          <input type="password" #pass="ngModel" id="inputPassword" name="password" [(ngModel)]="password"
            class="form-control" placeholder="Enter Password" minlength="8" required>
        </div>
        <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
          <div *ngIf="pass.errors?.minlength">
            Atleast 8 characters
          </div>
          <div *ngIf="pass.errors?.required">
            Required
          </div>
        </div>

        <div class="input-group mb-3">

          <input type="password" #pass2="ngModel" id="inputConfirmPassword" name="confirmPassword"
            [(ngModel)]="confirmPassword" class="form-control" placeholder="Re-enter Password" minlength="8" required>
        </div>

        <div [hidden]="pass2.pristine || password==confirmPassword" class="alert alert-danger">
          <div *ngIf="password!=confirmPassword">
            Password does not match
          </div>
          <div *ngIf="pass2.errors?.required">
            Required
          </div>
        </div>

        <div style="margin-top:10px" class="form-group">
          <!-- Button -->

          <div class="col-sm-12 controls">
            <button id="btn-save" type="button" class="btn btn-primary" (click)="updatePasswordFunction()">
              <i class="icon-hand-right"></i> Save</button>
          </div>
        </div>

      </form>
    </div>

  </div>