
<div class="box-body-wrap">
    <div class="container">
        <div class="inner-box-body-wrap">
            <div class="top-btns">
                <a class="nav-link top-box-links" [routerLink]="['/user/login']">
                    <span class="fa fa-arrow-left"></span>
                    Sign In
                </a>
            </div>
            <div class="logo-wrap text-center">
                <img src="./../../../assets/images/logo.png" alt="Meeting Planner" />
            </div>
            <div class="text-center ">
                <form class="form-horizontal" role="form">
                    <div class="input-group mb-3">
                        <input type="email" id="inputEmail" [(ngModel)]="email" class="form-control"
                            placeholder="Enter Email to get verify password link" name="email" required autofocus>
                    </div>   
                    <div class="form-group">
                        <div class="col-sm-12 controls">
                            <button id="btn-send" type="button" class="btn btn-primary"
                                (click)="forgotPasswordFunction()">
                                Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>