<div class="box-body-wrap">
  <div class="container">
    <div class="inner-box-body-wrap">
      <div class="top-btns">
        <a class="nav-link top-box-links" [routerLink]="['/user/signup']">
          <span class="fa fa-arrow-left"></span>
          Sign Up
        </a>   
      </div>
      <div class="logo-wrap text-center">
        <img src="./../../../assets/images/logo.png" alt="Meeting Planner" />
      </div>
      <div class="text-404 text-center">
        <h4>OOPS!! 500 Error</h4>
        <p>Server Error</p>
        <div class="form-group">
          <div class="col-sm-12 controls">
            <a id="btn-signin" class="sigin-404-btn nav-link top-box-links btn btn-primary"
              [routerLink]="['/user/login']">
              <span class="fa fa-arrow-left"></span>
              Go Back to Sign In
            </a>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>