<router-outlet></router-outlet>


<footer class="copyright-text-wrap">
        <div class="container">
                <div class="footer-text">
                        <div class="design-develop-text">
                                Design & Developed by Jaspreet Kaur
                        </div>
                        <div class="copyright-text">

                                © 2019 Copyright Meeting Planner
                        </div>
                </div>
        </div>
</footer>